@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
}
p {
    margin-bottom: unset;
}

/*.row-striped:nth-of-type(odd){*/
/*    background-color: #efefef;*/
/*    border-left: 4px #87DBF8 solid;*/
/*}*/

/*.row-striped:nth-of-type(even){*/
/*    background-color: #ffffff;*/
/*    border-left: 4px #4DA1F4 solid;*/
/*}*/

/*.row-striped {*/
/*    padding: 15px 0;*/
/*}*/

/*.grid-lines{*/
/*    background-color: #fff;*/
/*    background-image: linear-gradient(rgba(244,244,250,.😎 1px,transparent 0),*/
/*    linear-gradient(#f4f4fa 1px,transparent 0),*/
/*    linear-gradient(90deg,rgba(244,244,250,.😎 1px,transparent 0),*/
/*    linear-gradient(90deg,#f4f4fa 1px,transparent 0),*/
/*    linear-gradient(transparent 3px,#fff 0,#fff 94px,transparent 0),*/
/*    linear-gradient(90deg,#f4f4fa 3px,transparent 0,transparent 94px,#f4f4fa 0);*/
/*    background-size: 24px 24px,96px 96px,24px 24px,96px 96px,96px 96px,96px 96px;*/
/*}*/

span.yes {
    background: green;
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 25px;
}
span.no {
    background: red;
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 25px;
}

/* MAIN HEADER */
nav.main-header {
    background: #1D3557;
    border-top: 3px solid #E63946;
}
nav.main-header h3,
nav.main-header .nav-link i,
span.d-none.d-md-inline{
    color: #fff;
}

/* SIDEBAR */
.content-wrapper {
    background: #f1faee;
}
.main-sidebar a.brand-link {
    height: 67px;
    border-top: 3px solid #E63946 !important;
    background: #1D3557 !important;
    border-bottom: unset;
}
.main-sidebar span.brand-text {
    color: #EAF11B;
}
.main-sidebar li.nav-header {
    text-transform: uppercase;
    color: rgba(255,255,255,.25) !important;
    font-size: 12px !important;
    letter-spacing: 1px;
}
.cstm-sidebar {
    padding: unset;
}
.cstm-sidebar i {
    width: 30px;
}
aside.main-sidebar.sidebar-dark-danger.elevation-4 {
    background: #1d3557;
}
.main-sidebar nav {
    box-shadow: unset;
    margin-top: unset !important;
}
.cstm-sidebar li.nav-item {
    color: #fff;
}
.cstm-sidebar a.nav-link {
    margin: unset !important;
    padding: 15px 30px;
    width: 100%;
    font-weight: 300;
}
.cstm-sidebar i.fas.fa-angle-left.right {
    display: none;
}
.cstm-sidebar .menu-open {
    background: #2d4971;
}
.cstm-sidebar i.far.fa-fw.fa-circle {
    display: none;
}
.cstm-sidebar .nav-treeview a.nav-link {
    padding-left: 65px !important;
}
.cstm-sidebar a.nav-link.active {
    background: #e63946 !important;
    box-shadow: none !important;
    border-radius: unset;
}
.cstm-sidebar .nav-treeview a.nav-link.active {
    background: transparent !important;
    color: #fff !important;
    font-weight: 600 !important;
}
.copyright {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px !important;
    background: rgba(0,0,0,.05);
}
.copyright p {
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    margin: 0 !important;
}


/* AGENTS */
.fit-modal .modal {
    height: fit-content;
}
.fit-modal .modal .modal-content {
    padding: unset;
    border: none;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cstm-container {
    padding: 0 20px;
}
.cstm-heading {
    /*display: flex;*/
}
.cstm-heading h1 {
    text-transform: uppercase;
    font-size: 26px;
    width: fit-content;
    margin-right: 40px;
    margin-bottom: unset;
}
.cstm-search p {
    margin-right: 10px;
}
.cstm-row.col2>div {
    width: 50%;
}

.cstm-btn {
    border-radius: 50px;
    padding: 12px 18px;
    height: fit-content;
    text-transform: uppercase;
    color: #aaa;
    border: 1px solid #aaa;
    font-size: 14px;
    transition-duration: 300ms;
    outline: none !important;
    background: transparent;
}
.cstm-btn.small {
    padding: 6px 12px;
    font-size: 12px;
}
.cstm-btn.icon {
    color: green;
    font-size: 22px;
    padding: 0px 3px !important;
    border-radius: 3px;
    border: unset;
}
.cstm-btn:hover {
    background: #e63946;
    color: #fff;
    border-color: #e63946;
}
.cstm-btn.icon:hover {
    background: green;
}
.cstm-display {
    width: 100%;
    min-height: 75vh;
    background: #fff;
}
.cstm-display table {
    width: 100%;
    margin: unset !important;
}
.cstm-display table tr {
    transition-duration: 300ms;
}
.cstm-display table thead {
    background: #1d3557;
}
.cstm-display table thead th:first-child:before,
.cstm-display table thead th:first-child:after {
    display: none;
}
.cstm-display table th:first-child {
    width: 50px;
}
.cstm-display table th {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.cstm-display table td {
    padding: 12px 10px;
}
.cstm-display .avatar {
    width: 25px;
    height: 25px;
    background: #a8dadc;
    display: block;
    line-height: 25px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    margin: auto;
}
.cstm-display table tbody tr:hover{
    background: #f3f3f3;
    cursor: pointer;
}
.table-bordered td:first-child,
.table-bordered th:first-child {
    border-right: unset;
}
table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:before {
    right: 1.5em !important;
}
table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:after {
    right: 1em !important;
}
.cstm-display #cstm-table_filter {
    display: none;
}
.cstm-table-filter{
    text-align: right;
}
input.cstm-input {
    border-radius: 50px;
    padding: 6px 15px;
    border: none;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

/* INPUT FIELDS */
input.datepicker {
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    background: transparent;
    font-size: 14px;
    transition-duration: 400ms;
    width: 125px;
}
.input-field input {
    font-size: 14px !important;
}
.input-field input,
input.datepicker {
    font-weight: 600;
}
.input-field .selected {
    background: #1D3557 !important;
}
.cstm-table-filter .input-field,
.cstm-table-filter .select-wrapper input.select-dropdown{
    width: 150px;
    height: 34px;
    border-bottom: 1px solid #ddd !important;
}
.select-wrapper svg {
    opacity: .5;
}
.cstm-radio {

}

/* FORM */
.cstm-form {

}
.cstm-form form {
    width: 35%;
    display: block;
    margin: auto;
    border-radius: 20px;
    padding: 50px;
    background: #fff;
    position: relative;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,.2);
}
.cstm-form form>div {
    position: relative;
    margin-bottom: 20px;
}
.cstm-form form>.input-item>i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #aaa;
    transition-duration: 300ms;
}
.cstm-form form>.input-item>input,
.cstm-form form>div>.cstm-radio,
.cstm-form form>.input-item.input-field{
    width: 100%;
    border-radius: 50px;
    padding: 10px 10px 10px 50px;
    border: 1px solid #aaa;
    outline: none;
    transition-duration: 300ms;
    font-size: unset;
}
.cstm-form form>div>.no-border {
    border: none;
}
.cstm-form form>div>input:focus {
    border-color: #222;
}
.cstm-form form>div>input:focus + i,
.cstm-form form>div>select:focus + i {
    color: #222;
}
.cstm-form input[type="submit"] {
    padding: 10px;
    width: 80px;
    height: 80px;
    text-transform: uppercase;
    background: #1d3557;
    color: #fff;
    border-radius: 50px;
    outline: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    border: 10px solid #fff;
    box-shadow: 0 8px 13px -5px rgba(0,0,0,.3);
    transition-duration: 300ms;
}
.cstm-form input[type="submit"]:hover {
    background: #E63946;
}
.cstm-form .main-icon {
    font-size: 50px;
}
.cstm-form .main-icon {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.cstm-form .main-icon i {
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, rgba(29,53,87,1) 0%, rgba(230,57,70,1) 100%);
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
}
