@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: "Poppins", sans-serif !important;
}
.cstm-sidebar {
    padding: unset;
}
.cstm-sidebar i {
    width: 30px;
}
aside.main-sidebar.sidebar-dark-danger.elevation-4 {
    background: #1d3557;
}
.cstm-sidebar li.nav-item {
    color: #fff;
}
.cstm-sidebar a.nav-link {
    margin: unset !important;
    padding: 15px 30px;
    width: 100%;
}
.cstm-sidebar i.fas.fa-angle-left.right {
    display: none;
}
.cstm-sidebar .menu-open {
    background: #2d4971;
}
.cstm-sidebar i.far.fa-fw.fa-circle {
    display: none;
}
.cstm-sidebar .nav-treeview a.nav-link {
    padding-left: 65px !important;
}
.cstm-sidebar a.nav-link.active {
    background: #e63946 !important;
    box-shadow: none !important;
    border-radius: unset;
}
.copyright {
	position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px !important;
    background: rgba(0,0,0,.05);
}
.copyright p {
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    margin: 0 !important;
}